:root {
    --dark-color-title: #2E2F42;
    --background-color-dark: #2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
}
/* -----------------------HEADER-------------------------- */


.header-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}

.logo-half-header {
    color: #2E2F42;
}

.header-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-link {
    color: var(--dark-color-title);
}

.contacts {
    font-style: normal;
}

.header-contacts-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-link {
    color: #434455;
}

.adress-link:hover,
.adress-link:focus {
    color: #404bbf;
}


/* -----------------------HERO-------------------------- */

.hero {
    background-color: var(--background-color-dark);
    
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}



/* -----------------------ABOUT-------------------------- */


.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}

.about-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -----------------------ACTIVITY-------------------------- */

.activity-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color-title);
    text-align: center;
}

/* -----------------------TEAM-------------------------- */

.team {
    background-color: #F4F4FD;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color-title);
    text-align: center;
}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* -----------------------FOOTER-------------------------- */

.footer {
    background-color: var(--background-color-dark);
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;;
}

.logo-half-footer {
    color: #F4F4FD;
}

/* -----------------------PORTFOLIO-------------------------- */


.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #404BBF;;
}

.ptotfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color-title);
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}